.b1{
    display: flex;
    margin-top: 3vw;
    height: 50px;
    flex-direction: row;
}

.btn-dark{
    width: 80%;
}

.c1{
    font-size: x-large;
    margin-top: 10px;
    font-weight: 600;
    margin-left: 25vw;
}

.b2{
    background-color: rgb(175, 175, 175);
}

.b2 h3{
    margin-left: 300px;
}

.t1{
    margin-left: 21vw;
    width: 77vw;
    font-size: large;
}

.b3{
    width: 100%;
    height: 300px;
}

.col-md-6{
    background-color: white;
}

.row g-3{
    background-color: black;
}

.a1{
    left: 21vw;
}